---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
const allPosts = Object.values(
    import.meta.glob("./songs/*.mdx", { eager: true }),
);
console.log(allPosts);
---

<Layout
    ><Welcome />
    <ul>
        {
            allPosts.map((post: any) => (
                <li>
                    <a href={post.url}> {post.frontmatter.title}</a>
                </li>
            ))
        }
    </ul>
</Layout>
